<mat-tab-group class="not-fix-tabs">
  <mat-tab label="Films">
      <ng-template matTabContent>
      </ng-template>
  </mat-tab>
  <mat-tab label="People">
      <ng-template matTabContent>
      </ng-template>
  </mat-tab>
</mat-tab-group>
<router-outlet></router-outlet>
